@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Montserrat:wght@100&family=Raleway:wght@500&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background: #DCDCDC;
    min-height: 100vh;
    width: 100%;
}
.container {
    display: flex;
    width: 94%;
    background: url(../img/fondo.jpg);
    border-radius: 15px;
    align-items: center;
    padding: 4px;
    justify-content: space-between;
    margin: auto;
    margin-top: 200px;
}
.iconos{
    display: flex;
    margin-top: 5px;
    font-size: 2em;
}
.bx{
    color: black;
}
.youtube:hover{
    color: red;
}
.facebook:hover{
    color:#1E90FF;
}
.instagram:hover{
    background: #471485;
    background: -webkit-linear-gradient(to right, #471485, #f20707, #FFD700);
    background-image: linear-gradient(to right, #471485, red, #FFD700); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.logito{
    display: flex;
    width: 35px;
    margin-left: 5px;
    margin-top: center;
}
.redes{
    font-size: 0.45em;
    font-family: 'Montserrat', sans-serif;
    margin-top: 6px;
    color: #F0FFFF;
    position: relative; left: -5%;

}
.letra{
    display: flex;
    justify-content: center;
    text-align:  center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    margin: 5%;
    font-family: 'Montserrat', sans-serif;

}
.titulo{
    display: flex;
    font-family: 'Fascinate Inline', cursive;
    font-size: 6em;
}
.boton{
    justify-content: right;
    background: black;
    color: #FFFF;
    border-radius: 8px;
    padding: 3px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    cursor: pointer;
    transition:  0.3s;
    font-size: 0.8em;
    border-color: transparent;

}
.boton:hover{
    background: #20B2AA;
    box-shadow: 0 0 10px #20B2AA, 0 0 40px #20B2AA, 0 0 80px #20B2AA;
    transition: 1s;
}
.button{
    display: flex;
    justify-content: right;
    padding: 15px;
    padding-right: 40px;
}
.barra{
    width: 10%;
    height: 9%;
    position: fixed;
    transition: .4s all;
    z-index: 1;
    border-radius: 17px;
}
.barra ul{
    padding: 0px;
    text-align: center;
}
.barra li{
    transition: .3s all;
    
}
.barra a{
    text-decoration: none;
    list-style: none;
    transition: .3s all;
    padding: 0px;
    font-size: 0px;
}

.barra h1{
    text-align: center;
    color: white;
    padding: 7px;
    padding-bottom: 7px;

    font-size: 0px;
}
.barra i{
    padding-top: 15px;
    padding-left: 40px;
    font-size: 1.3em;
}
.barra:hover{
    width: 25%;
    height: 70%;

    background-color: black;
}

.barra:hover h1{
    padding: 15px;
    font-size: 35px;

}
.barra:hover a{
    font-size: 20px;
    color: white;

    display: block;
    padding: 20px;

}
.barra:hover i{
    height: 0px;
}
.barra:hover li{
    border-top: 1px solid black;

    width: 100%;
}
.barra:hover ul:last-of-type{
    border-bottom: 1px solid black;
}

.barra:hover a:hover{
    font-size: 25px;
    padding:30px 0px;
    background-color: #5F9EA0;
}
