@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Montserrat:wght@100&family=Raleway:wght@500&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background: #f0f8ff;
    min-height: 100vh;
    width: 100%;
}
.container {
    display: flex;
    width: 94%;
    background: url(../img/fondo.jpg);
    border-radius: 15px;
    align-items: center;
    padding: 7px;
    justify-content: space-between;
    margin: auto;
    margin-top: 200px;
}
.iconos{
    display: flex;
    margin-top: 5px;
    font-size: 2em;
}
.bx{
    color: black;
}
.youtube:hover{
    color: red;
}
.facebook:hover{
    color:#1E90FF;
}
.instagram:hover{
    background: #471485;
    background: -webkit-linear-gradient(to right, #471485, #f20707, #FFD700);
    background-image: linear-gradient(to right, #471485, red, #FFD700); 
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.logito{
    display: flex;
    width: 35px;
    margin-left: 5px;
    margin-top: center;
}
.redes{
    display: flex;
    font-size: 0.6em;
    font-family: 'Raleway', sans-serif;
    margin-top: 5px;
    color: ;
}
.letra{
    display: flex;
    justify-content: center;
    text-align:  center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    margin: 5%;
    font-family: 'Montserrat', sans-serif;

}
.titulo{
    display: flex;
    font-family: 'Fascinate Inline', cursive;
    font-size: 6em;
}
.boton{
    background: black;
    color: #FFFF;
    border-radius: 7px;
    padding: 8px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    cursor: pointer;
    transition:  0.3s;
    border-style: none;
    font-size: 14px;
}
.boton:hover{
    background: #20B2AA;
    box-shadow: 0 0 10px #20B2AA, 0 0 40px #20B2AA, 0 0 80px #20B2AA;
    transition: 1s;


}
.menu{
    display: flex;
    margin-top: 6px;
    width: 95%; 
    align-items: center;
    padding: 5px;
    justify-content: space-between;
    margin: auto;
    padding: 15px;
    font-size: 1.4em;
}
.bx-menu{
    cursor: pointer;
}
    
