@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Josefin+Sans:wght@300&family=Montserrat:wght@100&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background: #f0f8ff;
    min-height: 100vh;
    width: 100%;
}
.container {
    display: flex;
    width: 94%;
    background: url(../img/fondo.jpg);
    border-radius: 15px;
    align-items: center;
    padding: 7px;
    justify-content: space-between;
    margin: auto;
    margin-top: 200px;
}
.iconos{
    margin-top: 5px;
    font-size: 2em;
}
.logito{
    display: flex;
    width: 35px;
    margin-left: 5px;
    margin-top: center;
}
.letra{
    display: flex;
    justify-content: center;
    text-align:  center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    margin: 5%;
    font-family: 'Montserrat', sans-serif;

}
.titulo{
    display: flex;
    font-family: 'Fascinate Inline', cursive;
    font-size: 6em;
}
.boton{
    background: black;
    color: #FFFF;
    border-radius: 7px;
    padding: 8px;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    cursor: pointer;
    transition:  0.3s;
    border-style: none;
    font-size: 14px;

}
.boton:hover{
    background: cadetblue;
}
.menu{
    display: flex;
    margin-top: 6px;
    width: 95%; 
    align-items: center;
    padding: 5px;
    justify-content: space-between;
    margin: auto;
    padding: 15px;
    font-size: 1.35em;
}
.bx-menu{
    cursor: pointer;
}
    
